#daily {
  .container {
    width: 80%;
    margin: 0 auto;
    padding: .45rem 0;

    .receive-record {
      text-align: right;
      margin: .3rem 0;
    }
  }
  #slogan {
    background-image: url('https://assets.bitrabbit.com/upload/6bed952f-9070-441f-b795-d24db2e70507.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
    
    .container {
      box-sizing: border-box;
      display: flex;
    }

    .slogan-left {
      width: 60%;
      margin-right: 10%;
      flex-grow: 1;
      flex-shrink: 1;
      .slogan-title {
        font-size: .36rem;
        font-weight: bold;
        text-align: center;
      }
      .slogan-text {
        margin: .3rem 0 .6rem;
        text-align: center;
      }
      .slogan-carrot {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        .slogan-sign {
          display: inline-block;
          margin-bottom: .2rem;
          .slogan-bg {
            opacity: 0.4;
          }
          img {
            width: .75rem;
          }
          .slogan-amount {
            margin: .2rem 0 .06rem;
          }
        }
      }
    }
    .slogan-right {
      width: 30%;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;
      padding-top: .2rem;
      img {
        max-width: 100%;
      }
      .slogan-btn-collect {
        color: #429BF3;
        width: 90%;
        margin-top: .5rem;
        &.disabled {
          color: #b0b0b0;
        }
      }
    }
  }
  .task {
    .task-title {
      text-align: center;
      font-size: .18rem;
      font-weight: bold;
      margin: .2rem 0;
      &::before,
      &::after {
        width: .1rem;
        height: .18rem;
        line-height: .18rem;
        content: url('../../../assets/images/rectangle.svg');
        margin: 0 .05rem;
      }
    }
    .task-table {
      .currency-column {
        margin-right: .24rem;
        .currency-column-img {
          width: .2rem;
          height: .2rem;
          vertical-align: middle;
          margin-right: .06rem;
        }
      }
      .ant-btn-primary {
        width: .9rem;
        text-align: center;
      }
      .disabled {
        display: inline-block;
        width: .9rem;
        background-color: #b0b0b0;
        text-align: center;
      }
    }
  }
  #rule {
    .rule-title {
      text-align: center;
      font-size: .18rem;
      font-weight: bold;
      margin: .2rem 0;
    }
  }
}

@media (max-width: 875px) {
  #daily {
    #slogan {
      .container {
        display: block;
        width: 90%;
      }
      .slogan-left,
      .slogan-right {
        width: 100%;
        margin-right: 0;
      }
      .slogan-right {
        img {
          display: none;
        }
      }
    }
    & > .container {
      width: 90%;
    }
    .task {
      .task-table {
        .currency-column {
          display: block;
          margin-right: 0;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 468px) {
  #daily {
    .container {
      padding: .25rem 0;
    }
    #slogan {
      .slogan-left {
        .slogan-title {
          font-size: .32rem;
        }
      }
      .slogan-right {
        padding-top: 0;
        img {
          display: none;
        }
        .slogan-btn-collect {
          margin-top: .2rem;
        }
      }
    }
    .task {
      .ant-table-thead>tr>th,
      .ant-table-tbody>tr>td {
        padding: 8px 8px;
      }
    }
  }
}
