
$primary-color: #f3ca82;
$primary-hover-color: #ffe5b0;

.ant-input-affix-wrapper .ant-input-prefix {
  left: 12px;
}

#desc {
  background-color: #181818;
  color: #fff;
  border-radius: 0;
  width: 100%;
  min-height: calc(100vh - 60px);

  & > div {
    width: 80%;
    margin: 0 auto;
  }

  a {
    color: #F3CA82;
    transition: all .3s;
    &:hover {
      color: #FFEED1;
    }
  }

  img {
    vertical-align: text-bottom;
  }

  .code-list {
    position: absolute;
    left: 0;
    top: -.15rem;
  }

  .transaction {
    padding-bottom: .1rem;
  }

  .transaction-content {
    margin-bottom: .5rem;
    word-break: break-all;
    span {
      margin: .1rem .1rem 0 .1rem;
      display: inline-block;
    }
  }

  .desc-table {
    margin-bottom: .4rem;
    table-layout: fixed;
    tr {
      display: flex;
      vertical-align: middle;
      text-align: center;
      justify-content: space-around;
      align-items: center;
      &:nth-child(odd) {
        background-color: #292A2E;
      }
      &:nth-child(even) {
        background-color: #1f1f1f;
      }
      th,
      td {
        padding: .12rem 0;
        width: 20%;
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 875px) {
  #desc {
    & > div {
      width: 90%;
    }
    .desc-table {
      td {
        width: 50%;
      }
    }
  }
}

.code-dropdown.ant-dropdown-menu {
  background-color: #1f1f1f;
  height: auto;
  max-height: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  .ant-dropdown-menu-item {
    color: #fff;
    &:hover {
      background-color: #f3ca82;
      color: #181818;
    }
  }
}
