

#tagsWrapper {
  display: inline;
  padding-left: .04rem;
  a {
    color: #fff
  }

  span {
    color: #000;
    padding: 0 .05rem;
    margin: 0 .01rem;
    display: inline-block;
    transform: scale(0.9)
  }
  
  //tag背景颜色
  @mixin bgcolor($value) {
    background-color: $value;
    
  }
  
  .st {
    @include bgcolor(#842325)
  }
  
  .super {
    @include bgcolor(#F9ECCC)
  }
  
  .free {
    @include bgcolor(#88A9E1)
  }
  
  .giveaways {
    @include bgcolor(#BDC7C4)
  }
  
  .aridrop {
    @include bgcolor(#9B9690)
  }
  
  .lottery {
    @include bgcolor(#7F937A)
  }
  
  .excellent {
    @include bgcolor(#B99AA9)
  }
  
  .innovative {
    @include bgcolor(#BDBFE8)
  }
  
  .game {
    @include bgcolor(#CEB44B)
  }
}

.tags-tooltip-wrapper {
  .ant-tooltip-inner {
    background-color: #313236;
    font-size: .12rem;
    color: #fff;
    padding: .06rem;
  }
  
  .ant-tooltip-arrow {
    border-top-color: #313236;
    border-bottom-color: #313236;
  }
}